<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Acorns </title>
</head>
<body>
<form>
		<table>
		<td>Name</td>
		<td>Category</td>
		<td>Replacement Cost</td>
		<td>Purchase Date</td>
		<td>Life Cycle</td>
		<td>Age (in months)</td>
		<td>Remaining Life Percentage</td>
		<td>Actual Cash Value</td>
		
			<tr th:each="currentAcorn : ${acorns}">
				<td th:text="${currentAcorn.name}" />
				<td th:text="${currentAcorn.category}" />
				<td th:text="${currentAcorn.replacementCost}" />
				<td th:text="${currentAcorn.purchaseDate}" />
				<td th:text="${currentAcorn.lifeCycle}" />
				<td th:text="${currentAcorn.ageInMonths}" />
				<td th:text="${currentAcorn.remainingLifePercentage}" />
				<td th:text="${currentAcorn.actualCashValue}"/>
				
			</tr>
		</table>
		
		<div style ="float:right;"> Savings Needs: $<span th:text="${currentUser.savingsNeed}"></span></div>
		<a th:href="@{/addAcornByUser/{ID}(ID=${currentUser.ID})}">Add Acorn</a>
	</form>
</body>
</html>