<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Acorns</title>
</head>
<body>
	<form>
		<table>
			<td>ID</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Cash balance</td>
			<td>Savings Needed</td>
			<tr th:each="currentUser : ${users}">
				<td th:text="${currentUser.ID}" />
				<td th:text="${currentUser.firstName}" />
				<td th:text="${currentUser.lastName}" />
				<td th:text="${currentUser.cashBalance}" />
				<td th:text="${currentUser.savingsNeed}" />
				<td><a th:href="@{/view/{ID}(ID=${currentUser.ID})}">View
						User Acorns</a></td>

			</tr>
		</table>

	</form>

</body>
</html>