* {
	box-sizing: border-box;
}

.container{
	padding-top: 30px;
	margin: 2px auto;
	text-align:center;
}

header {
	position:absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #910000;
	width: 100%;
	box-sizing: border-box;
}
header .logo
{
	color: white;
	height: 50px;
	line-height: 50px;
	font-size:24px;
	float: left;
	font-weight: bold;
}

header nav 
{
	float: right;
}

header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;
}

header nav ul li a
{
	height: 50px;
	line-height:50px;
	padding: 0 20px;
	color: #fff;
	text-decoration:none;
	display: block;
}

header nav ul li a:hover
{
	color: black;
	background: #ffd199;
}

.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

body {
	font-family: "Helvetica", Ariel, sans-serif;
}

h1 {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: beige;
	border: 1px solid black;
	border-radius: 20px;
}

.flex-container>div {
	background-color: #ffd199;
	border: 2px solid #910000;
	border-radius: 10px;
	width: 300px;
	padding: 15px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.acornItem h3 {
	text-align: center;
	margin: -5px 0 5px 0;
}

.acornItem p {
	text-align: left;
	line-height: .5;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a.button {
	padding: 0.35em 1.2em;
	text-align: center;
	display: inline-block;
	border: 0.1em solid #910000;
	text-decoration: none;
	border-radius: 0.12em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: black;
	text-align: center;
	transition: all 0.2s;
	background-color: #ffd199;
}

a.button:hover {
	color: white;
	background-color: black;
}

@media (max-width: 991px) {
  
  header {
	  padding: 0 20px;
  }
  .menu-toggle
  {
	  display: block;
  }
  header nav 
  {
	  position: absolute;
	  width: 100%;
	  height: calc(100vh - 50px);
	  background: #cf0000;
	  top: 50px;
	  left: -100%;
	  transition: 0.5s;
	  opacity: .95;
  }
  header nav.active
  {
	  left: 0;
  }
  
  header nav ul
  {
	display: block;
	text-align: center;
  }
  
  header nav ul li a
  {
	  border-bottom: 1px solid rgba(0,0,0,.2);
	  
  }
}